<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Filtering on click with an external form</h3>
            <p>In the following example, the filtering form is totall   y externalized and all
               filtering elements (except the global search field) react to the "Apply filters" and
               "Clear filters" buttons.</p>
            <p>
               Note that Dandelion-Datatables makes use of the <a
                  href="http://datatables.net/plug-ins/api">fnMultiFilter</a> function from the
               DataTables API to perform filtering on multiple columns in just one request.
            </p>
            <p>Finally, note that the "Clear filters" buttons reinitializes both table and
               filtering elements.</p>
         </div>
      </div>
      
      <div class="row-fluid well">
         <div class="span6">
            Firstname: <div id="firstNameFilter"></div>
            Lastname: <div id="lastNameFilter"></div>
            City: <div id="cityFilter"></div>
            Company: <div id="companyFilter"></div>
         </div>
         <div class="span6">
            <a id="filterButton" class="btn btn-large btn-primary">Apply filters</a>
            <a id="filterClearButton" class="btn btn-large btn-inverse">Clear filters</a>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span12">

            <table id="myTableId" dt:table="true" dt:url="@{/ajax/persons}" dt:serverside="true" dt:filterplaceholder="none" dt:filterSelector="#filterButton" dt:filterClearSelector="#filterClearButton" class="display">
               <thead>
                  <tr>
                     <th dt:property="id" dt:name="id">Id</th>
                     <th dt:property="firstName" dt:filterable="true" dt:selector="firstNameFilter">Firstname</th>
                     <th dt:property="lastName" dt:filterable="true"  dt:selector="lastNameFilter">Lastname</th>
                     <th dt:property="address.town.name" dt:filterable="true" dt:selector="cityFilter">City</th>
                     <th dt:property="mail" dt:renderFunction="app-custom-rendering#mailify">Mail</th>
                     <th dt:property="company.name" dt:filterable="true" dt:filterType="select" dt:filterValues="app-filtering#predefinedValues" dt:selector="companyFilter">Company</th>
                  </tr>
               </thead>
            </table>
         </div>
      </div>
   </div>
</body>
</html>